body {
    background-color: rgb(209, 165, 250);
    margin: 0;
    padding: 20px
}
.post {
    width: 400px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ccc;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px
}
.header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header h1{
    margin: 0;
    font-size: 18px; 
}
.header h2{
    margin: 0;
    font-size: 14px;
    color: gray;
}
.foto-cadiz {
    width:100%;
    height:auto;
    display: block;
}
.footer {
  padding: 10px 15px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.image-left {
    gap: 10px;
    display: flex;
}
.image-right {
    display: flex;
    align-items: center;
}
p {
font-size: 14px;
margin: 5px 0;
}