body {
    background-color: rgb(209, 165, 250);
}
.header {
    background-color: white;
    margin-left: 30%;
    margin-right: 20%;
    text-align: center;
    display:auto;
    margin-bottom: -1%;
}
.header h1{
    margin-left: -83%;
    font-size: 100%; 
}
.header h2{
    margin-left: -80%;
    font-size: 100%;
}
.logo {
    position: absolute;
    top: 3%;
    font-size: 150%;
    right: 67%
}
.header-right {
    position: absolute;
    right: 20%;
    top: 2%;
    font-size: 180%;
}
.foto-cadiz {
    width:50%;
    height:40%;
    margin-left: 30%;
    display: block;
    display:auto;
}
.footer {
    background-color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 20%;
    display: auto;
    margin-top: -1.5%;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -10% 20%;
    font-size: 150%;
}
.image-left {
    margin-right: -80%;
    gap: 10%;
    text-align: left;
    display: flex;
    align-items: center;
}
.image-right {
    text-align: right;
    display: flex;
    align-items: center;
    gap:10%;
    margin-left: 0;
}
p {
text-align: left;
margin-left: 2%;
}